/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as *;

html,
body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, sans-serif;
    background-color: $background-light;
    color: $text-main;
}