<aside class="sidebar" [class.closed]="!isSidebarOpen">

    <div class="sidebar-content">
        <!-- LOGO -->
        <div class="logo">
            <img src="/Adventa.svg" alt="Adventa" />
        </div>

        <!-- MENU -->
        <nav class="menu">
            <a routerLink="/home"><img src="/icons/home.svg" alt=""> Home</a>
            <a routerLink="/users"><img src="/icons/manage_accounts.svg" alt=""> Gestión de Usuarios</a>
            <a routerLink="/agreements"><img src="/icons/globe.svg" alt=""> Acuerdos Globales</a>
            <a routerLink="/reports"><img src="/icons/chart.svg" alt=""> Gestor de Reportes</a>
        </nav>
    </div>


    <!-- USER -->
    <div class="user" *ngIf="user$ | async as user">
        <button class="user-btn" (click)="toggleUserMenu(); $event.stopPropagation()">
            <div class="avatar">
                {{ user.first_name[0] }}{{ user.last_name[0] }}
            </div>

            <div class="user-info">
                <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                <span>{{ user.role }}</span>
            </div>
        </button>

        <div class="user-menu" *ngIf="isUserMenuOpen" (click)="$event.stopPropagation()">
            <div class="userData">
                <div class="avatar">
                    {{ user.first_name[0] }}{{ user.last_name[0] }}
                </div>
                <div>
                    <strong>{{ user.first_name }} {{ user.last_name }}</strong>
                    <p class="email">{{ user.email }}</p>
                </div>

            </div>
            <div class="logout-container" (click)="logout()">
                <img src="/icons/logout.svg" alt="">
                <button class="logout">Cerrar sesión</button>
            </div>

        </div>
    </div>



</aside>

<header class="topbar">
    <button class="toggle" (click)="toggleSidebar()">☰</button>
    <span class="title">{{ pageTitle }}</span>

</header>